html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #ba2636;
}

a:visited {
  color: #ba2636;
  text-decoration: none;
}

a:hover {
  color: #ba2636;
}

a:active {
  color: #ba2636;
}

.clear-fix {
  clear: both;
}

.line-dashed {
  background-color: #fff;
  border-top: 1px dashed #e7eaec;
  color: #fff;
  height: 1px;
  margin: 1.429rem 0;
}

.widget-container {
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.429rem;
}

.widget-header {
  font-size: 1.1rem;
  padding: 0 1.429rem;
  line-height: 3.571rem;
  border-bottom: 0.07rem solid #e7eaec;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.widget-body {
  padding: 1.429rem;
  line-height: 1.5rem;
  min-height: 12.143rem;
}

/*对 markdown 样式的补充*/
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.42857143;
  background: #faf7f7;
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  padding-top: 4.286rem;
  margin-top: -3.286rem;
}

h2 {
  border-bottom: 1px solid #e7eaec;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding-top: 4.286rem;
  margin-top: -3.286rem;
}

strong {
  font-weight: 700;
  color: #2c3e50 !important;
}

p > code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f9f2f4;
  border-radius: 4px;
}

img {
  max-width: 100%;
}

.article-detail {
  font-size: 16px;
  line-height: 30px;
}

.article-detail .desc ul,
.article-detail .desc ol {
  color: #333333;
  margin: 1.5em 0 0 25px;
}

.article-detail .desc h1,
.article-detail .desc h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.article-detail .desc a {
  color: #009a61;
}

.article-detail blockquote {
  margin: 0 0 1rem;
  background-color: #eeebe0;
  padding: 1rem 0.5rem;
  border-left: 2px solid rgb(226, 231, 236);
  border-radius: 0.5rem;
}

/* 锚点样式 */
.anchor-ul {
  position: relative;
  top: 0;
  max-width: 250px;
  border: none;
  -moz-box-shadow: 0 0px 0px #fff;
  -webkit-box-shadow: 0 0px 0px #fff;
  box-shadow: 0 0px 0px #fff;
}

.anchor > li.active {
  color: #009a61;
}

.anchor a {
  color: #333;
}

.anchor a:hover {
  color: #1890ff;
}
