html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #ba2636;
}

a:visited {
  color: #ba2636;
  text-decoration: none;
}
a:hover {
  color: #ba2636;
}

a:active {
  color: #ba2636;
}

.clear-fix {
  clear: both;
}

.line-dashed {
  background-color: #fff;
  border-top: 1px dashed #e7eaec;
  color: #fff;
  height: 1px;
  margin: 1.429rem 0;
}

.widget-container {
  border-radius: 0.5rem;
  background: #fff;
  margin-bottom: 1.429rem;
}

.widget-header {
  font-size: 1.1rem;
  padding: 0 1.429rem;
  line-height: 3.571rem;
  border-bottom: 0.07rem solid #e7eaec;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.widget-body {
  padding: 1.429rem;
  line-height: 1.5rem;
  min-height: 12.143rem;
}
